.headerfirst {
    color: rgb(195, 191, 255);
    background-color: rgb(39, 36, 48);
    border-radius: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    text-shadow: 0px 0px 5px rgb(187, 158, 255);
}

.paragraph {
    color: rgb(195, 191, 255);
    background-color: rgb(39, 36, 48);
    border-radius: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    text-shadow: 0px 0px 5px rgb(187, 158, 255);
}

.divider {
    color: rgb(195, 191, 255);
    background-color: rgb(39, 36, 48);
    border-radius: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 300px;
    display: flex;
    text-shadow: 0px 0px 5px rgb(187, 158, 255);
    margin-right: 10px;
}

.dividermain {
    display: flex;
}

.divider2 {
    color: rgb(195, 191, 255);
    background-color: rgb(39, 36, 48);
    border-radius: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    text-shadow: 0px 0px 5px rgb(187, 158, 255);
    margin-right: 10px;
    margin-bottom: 10px;
}

.dividermain2 {
    display: flex;
}

.divider2textcontent {
    margin-left: 10px;
}

.image {
    padding-left: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 100px;
    border-radius: 10px 10px 10px 10px !important;
}

.sidebar {
    background-color: rgb(39, 36, 48);
    overflow: hidden;
    border-radius: 5px;
}

.sidebar a {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    float: left;
    color: rgb(195, 191, 255);
    text-shadow: 0px 0px 5px rgb(187, 158, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
}

.sidebar a:hover {
    color: #8b67ff;
}

.sidebar a.split {
    float: right;
    color: white;
}

.sidebar2 {
    background-color: rgb(39, 36, 48);
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: hidden;
    padding-top: 20px;
}

.sidebar2 a {
    padding: 6px 8px 6px 16px;
    font-size: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(195, 191, 255);
    text-shadow: 0px 0px 5px rgb(187, 158, 255);
    display: block;
}

.sidebar2 a:hover {
    color: #8b67ff;
}

.sidebar2 p {
    padding: 0 8px 6px 16px;
    font-size: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(195, 191, 255);
    text-shadow: 0px 0px 5px rgb(187, 158, 255);
    display: block;
}

video {
    width: 300px;
}

body {
    background-color: rgb(45, 42, 54);
    pad: 0px 10px;
}

.specialbody {
    margin-left: 167px;
    background-color: rgb(45, 42, 54);
    pad: 0px 10px;
}

hr {
    color: rgb(47, 46, 59);

}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}